<div class="card">
    <div class="contentBox">
        <div class="lables">
            <div class="label row">
                <span class="labelText"><small>Name:</small></span>
                <span class="labelValue ml-2">{{product?.product_name}}</span>
            </div>
            <div class="label">
                <span class="labelText"><small>Price:</small></span>
                <span class="labelValue ml-2">{{product?.product_price}} Ksh</span>
            </div>
            <div class="label">
                <span class="labelText ml-2"><small>Quantity:</small></span>
                <span class="labelValue">{{product?.quantity}}</span>
            </div>
        </div>
        <a href="#" class="buy">To Cart</a>
    </div>

</div>

