
<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
<div class="mask col-md-8" style="border-radius: 20px; background-color: rgba(0, 0, 0, 0.0); position: relative; left: 17vw; top:30vh;">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
    <div class="text-white">
        <h1 class="mb-3">AGRIWISE DEPOT</h1>
        <h5 class="mb-4">Efficiency & Accountability</h5>
        <a class="btn btn-outline-warning btn-lg m-5 "  role="button"
        rel="nofollow" target="_blank">LOGIN</a>
    </div>
    </div>
</div>
</div>
<!-- Background image -->