<div class="container-fluid">
    <div class="row" style="position: relative; left: 300px; margin-top: 50px;">
        <div class="col-md-3 mt-5 ">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-5">
            <app-card></app-card>
        </div>
        <div class="col-md-3 mt-5">
            <app-card></app-card>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8 p-5">
            <app-bargraph></app-bargraph>
        </div>
        <div class="col-md-4">
            <app-aside></app-aside>
            
        </div>
    </div>
    <div class="col-md-12">
        <app-map></app-map>
    </div>
</div>