<div class="container-fluid date mt-5 row">
    <div class="col-md-6 black " style="color: whitesmoke; font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: 900;">
        <p> {{ myDate   | date: "mm-dd-yyyy "}} </p>
    </div>
    <div class="col-md-6" style="color:black; font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: 900;">
        <p> {{ myDate   | date: "hh:mm:ss "}} </p>
    </div>
</div>
<section>
    <div class="p-2 text-center bg-light" >
        <h1 class="" style="font-weight: 900;">Cart</h1>
    </div>
    <div class="spacer" style="scroll-behavior: auto;">
        <div class="container">
        <div class="row mt-5">
            <div class="col-lg-9">
            <div class="row shop-listing">
                <table class="table shop-table">
                <tr>
                    <th class="b-0">Name</th>
                    <th class="b-0">Price</th>
                    <th class="b-0">Quantity</th>
                    <th class="b-0 text-right">Total Price</th>
                </tr>
                <tr>
                    <td>{{ 1 }}</td>
                    <td>{{ 40 }}</td>
                    <td>
                    <!-- <button class="btn btn-primary btn-sm" (click)="_increamentQTY(item.productId._id,1)">+</button> -->
                    {{ 50 }}
                    <button class="btn btn-primary btn-sm">-</button>
                    </td>
                    <td class="text-right">
                    <h5 class="font-medium m-b-30">{{ 200 }}</h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right">Subtotal :</td>
                    <td colspan="4" align="right">
                    <!-- <button class="btn btn-danger" (click)="_emptyCart()">Empty Cart</button> -->
                    </td>
                </tr>
                </table>
            </div>
            </div>
        </div>
        </div>

    </div>
    <div class="mt-5 col-md-12 row">
                <div class=" card col-md-4 ml-0 p-2 row">
                    <div class="col-xs-6">
                        <h5><strong>Total Sales</strong></h5>
                        <hr>
                    </div>
                </div>
                <div class=" card col-md-4 ml-4 p-2 row">
                    <div class="col-xs-6">
                        <h5><strong>Empties</strong></h5>
                        <hr>
                    </div>
                </div>
                <div class="card col-md-3 ml-4 p-2 row">
                    <div class="col-xs-6">
                        <h5><strong>Shells</strong></h5>
                        <hr>
                    </div>
                </div>
            </div>
        
</section>