<section class="side-nav col-md-12" >
        <div class="container-fluid date row">
            <div class="col-md-6 black" style="text-align: center; opacity: 0.9; color: #FDF5A6; font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight:bold;">
                <p> {{ myDate   | date: "mm-dd-yyyy "}} </p>
            </div>
            <div class="col-md-6" style="text-align: center; color:black; font-size: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: 900;">
                <p> {{ myDate   | date: "hh:mm:ss "}} </p>
            </div>
        </div>
        <div class="container-fluid row" style="text-align:center; margin-top: 10px;">
            <div class="col-md-12">
                <h3 style="font-weight:900" >CART</h3>
            </div>
        </div>
        <hr style="border: 10px solid grey;">
        <div>
            <form class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Quantity</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">Product</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">Price</label>
                    </div>
                    <div class="col-md-3">
                        <label for="">Total</label>
                    </div>
                </div>
                <div class="row" *ngFor="let items of cart">
                    <div class="col-md-3">
                        <p type="text" style=" font-weight: bold; text-align: center; border: 10px solid gold ;  border-radius: 50%; height: 45px; width: 50px;">{{ items?.quantity }}</p>
                    </div>
                    <div class="col-md-3">
                        <p type="text"><small><b>{{ items?.product }}</b></small></p>
                    </div>
                    <div class="col-md-3">
                        <p type="text"><small><b>{{ items?.price }}</b></small></p>
                    </div>
                    <div class="col-md-3">
                        <p><small><b>{{ items?.quantity * items?.price }}</b></small></p>
                    </div>


                </div>
                <hr>
            </form>

            <div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <p style="color: gold; font-weight:bold;">Sub Total </p>
                    </div>
                    <div class="col-md-6">
                        <p style="font-weight:bold;">184.00ksh</p>
                    </div>
                    <div class="col-md-6">
                        <p style="font-weight: bold;">Tax</p>
                    </div>
                    <div class="col-md-6">
                        <p style="color: gold; font-weight:bold;">0.00ksh</p>
                    </div>

                    <div class="col-md-6" style="color: gold;">
                        <p style="font-weight: bold;">Total</p>
                    </div>
                    <div class="col-md-6">
                        <p style="font-weight: bold;">184.00ksh</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-dark btn-lg btn-block" style="margin-top: 10px; font-weight: bold;">Pay</button>
        </div>
</section>
