<div class="card mb-3 col-md-12">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgGmUiLVEkZrE8xDPSCCzIuM5cnuXgsqc0Cg&usqp=CAU"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> {{ data.Description }} </h5>
        <p class="card-text">
        </p>
        <p class="card-text" style="font-size: 30px;">
          <strong class="text-muted">{{ data.Value }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>